/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
  display: block;
}

.header {
  width: 940px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  font: 13px/22px Helvetica, Arial, sans-serif;
  background: #fff;
}

h1, h2 {
  font-size: 28px;
  line-height: 44px;
  padding: 22px 0;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  padding: 11px 0;
}

p {
  padding-bottom: 22px;
}

.content {
  float: left;
}

header {
  background-color: #fafafa;
  border-top: 6px #505050 solid;
  border-bottom: 1px #e3e3e3 solid;
  height: 115px;
  position: absolute;
  width: 100%;
  left: 0;
}
.logo {
  margin-top: 28px;
}
.forkme {
  float: right;
  margin-top: -98px;
}
.social-networks {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
}
.social-networks div {
  top: 50%;
  position: absolute;
}
.like {
  left: 5%;
}
.tweet {
  left: 25%;
}

img {
  border: 0;
}
.image {
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
.explanation {
  color: #505050;
  font-family: arial, sans-serif;
}
.explanation span {
  font-weight: bold;
}

.title span {
  font-weight: bold;
}

.title {
  font-size: 3em;
  letter-spacing: -1px;
  line-height: 1em;
  font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
  color: #ff9c00;
  margin-bottom: 0;
  text-align: left;
}
.text {
  font-size: 1.3em;
}
.instructions {
  font-size: 1em;
}
.code {
  background-color: #f9f9f9;
  border: 1px solid #e7e7e7;
  padding: 1em;
  font-size: 1em;
}

section.why li {
  display: inline;
  list-style-type: none;
  text-align: left;
  float: left;
  width: 212px;
  border-top: 1px solid #ebebeb;
  color: #505050;
}

section.why li.first {
  padding: 2em 1.66em 0 0;
}
section.why li.second {
  margin: 0 1.66em 0 0;
  padding-top: 2em;
}

section.why li p {
  font-size: 1em;
  font-family: arial, sans-serif;
}
#section-title {
  margin-bottom: 0.5em;
}
section.why li span {
  font-size: 1.3em;
}
section.why ul {
  padding: 0;
  margin-top: 0.4em;
}

.why {
  display: table-cell;
  padding-top: 10px;
}

span.column {
  font-weight: normal;
  font-size: 1.4em;
  color: #9f9f9f;
}

#content {
  display: table;
  padding-top: 122px;
  padding-bottom: 40px;
}

  #mainContent {
    display: table-cell;
    width: 426px;
    padding-right: 22px;
  }

  aside {
    display: table-cell;
    width: 494px;
  }

/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
  margin: 22px 0 0 22px;
  padding: 11px 22px;
  float: left;
}

section.sites {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  font-family: arial, sans-serif;
  border-top: 1px #e3e3e3 solid;
  border-bottom: 1px #e3e3e3 solid;
  padding-bottom: 10px;
}
  section.sites div {
    display: table;
    margin: 0 auto;
    padding: 10px 0 22px 0;
    width: 940px;
    color: #777;
  }
  section.sites h3 {
    color: #FFF;
  }

  section.sites a {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 70px;
    text-indent: -9999px;
    width: 150px;
  }

section.sites p {
  margin-top: 0.5em;
}
section.sites span {
  font-weight: bold;
}
section.sites li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
  width: 11em;
  float: left;
}
section.sites ul {
  padding: 0;
  margin-left: -32px;
}

div.footer {
  padding-top: 300px;
  text-align: right;
  float: right;
  width: 258px;
}

.downloads {
  border: solid 1px #cacaca;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
  float: right;
  font-family: arial, sans-serif;
  height: 218px;
}

.downloads a {
  color: #484848;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.3em;
}

.downloads li {
  display: block;
  text-align: left;
  float: none;
  height: 60px;
  padding-top: 12px;
  border-bottom: 1px dotted #505050;
  margin: 0 8px 0 8px;
}
.downloads li.last {
  border: none;
}
.downloads ul {
  text-align: left;
  padding: 0;
  list-style: none outside none;
}

.downloads ul li .icone {
  text-align: left;
  padding: 0;
  list-style: none outside none;
  padding: 0 9px 6px;
  float: left;
  height: 32px;
  margin: 0 0.6666em 0 0;
  width: 32px;
}

.downloads ul li .nome-numeros-software {
  float: left;
  width: 176px;
}

.downloads ul li .nome-numeros-software .mais-baixado {
  font-size: 1em;
  height: 17px;
  padding-top: 0;
  width: 17.3333em;
}

.downloads ul li .nome-numeros-software .titulo-software {
  display: block;
  line-height: 16px;
  margin: 0 0 1px;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.downloads ul li .nome-numeros-software p {
  background-image: url("/imgs/download.png");
  background-repeat: no-repeat;
  color: #666666;
  font-size: 0.917em;
  font-weight: normal;
  padding-left: 16px;
}

footer {
  left: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 600px 0 0;
  border-bottom: 6px solid #505050;
  z-index: -1;
}
#globocom {
  background-image: url('/imgs/globocom.png');
}
  #globocom:hover {
    background-image: url('/imgs/globocom-on.png');
  }
#techtudo {
  background-image: url('/imgs/techtudo.png');
}
  #techtudo:hover {
    background-image: url('/imgs/techtudo-on.png');
  }
#g1 {
  background-image: url('/imgs/g1.png');
}
  #g1:hover {
    background-image: url('/imgs/g1-on.png');
  }
#receitas {
  background-image: url('/imgs/receitas.png');
}
  #receitas:hover {
    background-image: url('/imgs/receitas-on.png');
  }

#webastrologia {
  background-image: url('/imgs/webastrologia.png');
}
  #webastrologia:hover {
    background-image: url('/imgs/webastrologia-on.png');
  }

#jogatina {
  background-image: url('/imgs/jogatina.png');
}
  #jogatina:hover {
    background-image: url('/imgs/jogatina-on.png');
  }

#bibliaonline {
  background-image: url('/imgs/bibliaonline.png');
}
  #bibliaonline:hover {
    background-image: url('/imgs/bibliaonline-on.png');
  }

#cuponzal {
  background-image: url('/imgs/cuponzal.png');
}
  #cuponzal:hover {
    background-image: url('/imgs/cuponzal-on.png');
  }

#globoesportecom {
  background-image: url('/imgs/globoesportecom.png');
}
  #globoesportecom:hover {
    background-image: url('/imgs/globoesportecom-on.png');
  }

#webdemocracia {
  background-image: url('/imgs/webdemocracia.png');
}
  #webdemocracia:hover {
    background-image: url('/imgs/webdemocracia-on.png');
  }

#etc {
  background-image: url('/imgs/etc.png');
}
  #etc:hover {
    background-image: url('/imgs/etc-on.png');
  }

